.jumbotron
{
	padding-top: 10px;
	padding-bottom: 10px;
}
#movies img, #movie img
{
	width:100%;
}
body
{
	background-color: black;
}
hr 
{
	border-color: white;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}